<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>734228541109-il1k078e5arpd0oqkhcmlvl5fmvmggrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734228541109-il1k078e5arpd0oqkhcmlvl5fmvmggrc</string>
	<key>API_KEY</key>
	<string>AIzaSyA1NHavDd-Z0Z8uPKERz9fPV-WztRGTG10</string>
	<key>GCM_SENDER_ID</key>
	<string>734228541109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dharamvir.Physics-Quiz</string>
	<key>PROJECT_ID</key>
	<string>physics-quiz-76bf3</string>
	<key>STORAGE_BUCKET</key>
	<string>physics-quiz-76bf3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:734228541109:ios:b0dfb457c2017ac6</string>
	<key>DATABASE_URL</key>
	<string>https://physics-quiz-76bf3.firebaseio.com</string>
</dict>
</plist>